:root {
  --text-color: #1e1e1e;
  --text-muted: #8D8D8D;
  --text-card-dark-blue: #0D1B39;
  --accent: #e58411;

  --header-text-color: #fff;

	--footer-bg: #2D2F33;
	--footer-text-color: #fff;

	--ui-orange: #e58411;
	--ui-biruza: #00D6C9;
	--ui-gray: #7C7C7C;
	--ui-dark-blue: #0D1B39;;

	--font-main: 'Gilroy', sans-serif;
	--font-cards: 'Inter', sans-serif;
	--font-footer-accent: 'DM Sans', sans-serif;
}

