.footer {
  padding: 118px 0 56px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;

  a {
    color: var(--footer-text-color);
    transition: opacity .1s ease-in;

    &:hover {
      opacity: .6;
    }
  }
}

.footer__grid {
  margin-bottom: 118px;
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
  gap: 20px;
}

.footer__desc {
  p + p {
    margin-top: 1em;
  }
}

.footer__logo {
  margin-bottom: 29px;
}

.footer__text {
  opacity: 0.8;
}

.footer__nav {
  &--services {
    grid-column-start: 3;
  }
}

.footer__nav-title {
  margin-bottom: 20px;
  font-family: var(--font-footer-accent);
  color: var(--accent);
  font-size: 17px;
  letter-spacing: -0.232px;
}

.footer__list {
  display: grid;
  gap: 16px;
  opacity: 0.8;
}

// .footer__list-item {
// }

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyriht {
  font-family: var(--font-footer-accent);

  letter-spacing: -0.205px;
  opacity: 0.5;
}

.footer__links {
  display: flex;
  gap: 40px;
}

.footer__link {
  opacity: 0.8;
}
