.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
  align-items: center;
}

// .nav__logo {
  
// }

.nav__btn {
  display: none;

  @include tablet {
    display: block;
  }
}