.nav-list {
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;

  font-size: 18px;
  font-weight: 500;

  
}

// .nav-list__item {
// }

// .nav-list__link {
// }