.tab-controls {
  display: inline-flex;
  padding: 6px;
  align-items: center;
  border-radius: 44px;
  background: #eee;
}

.tab-controls__btn {
  width: 84px;
  height: 45px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;

  color: rgba(30, 30, 30, 0.8);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.85;

  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &--active {
    background: #fff;
  }
}
